@media (max-width: 992px) {

    .sub-banner{
        height: 370px;
    }

    .breadcrumb-areas h1{
        font-weight: 600;
        font-family: var(--barlow);
        text-transform: uppercase;
        font-size: 35px;
        margin: 0;
    }
    
    .breadcrumbs li a{
        display: inline-block;
        color: #f1efef;
        font-size: 18px;
        font-weight: 400;
    }
    
    .breadcrumbs li{
        font-size: 14px;
        display: inline-block;
    }

    .offcanvas{
        display: block;
    }

    .heading_typ {
        font-size: 60px;
        letter-spacing: 1px;
    }

    .typ_car {
        font-size: 30px;
        line-height: 30px;
    }

    .heading_typ-1 {
        font-size: 80px;
        letter-spacing: 1px;
    }

    .typ_car-1 {
        font-size: 40px;
        line-height: 25 px;
    }


    .Subscribe-box {
        padding-top: 0px;
    }

}

@media only screen and (max-width: 768px) {

    .fixed-header{
        position: fixed;
        top: -8px;
        width: 100%;
        left: 0;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        animation: header 1s ease-in-out;
    }

    @keyframes header
{
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(0);
    }
}

.breadcrumb-areas h1{
    font-weight: 600;
    font-family: var(--barlow);
    text-transform: uppercase;
    font-size: 28px;
    margin: 0;
}


    .sub-banner{
        height: 320px;
    }

    .heading_typ {
        font-size: 60px;
        letter-spacing: 1px;
    }

    .album {
        padding-top: 50px;
    }

    .card-body ul{
        padding-left: 30px;
    }

    .custom-list li a {
        padding-left: 10px;
        color: var(--dark);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }

    .typ_car {
        font-size: 30px;
        line-height: 30px;
    }

    .heading_typ-1 {
        font-size: 50px;
        letter-spacing: 1px;
    }

    .typ_car-1 {
        font-size: 30px;
        line-height: 20px;
    }

    .carousel-caption {
        top: 40%;
        left: 55px;
        font-family: var(--mulish);
        line-height: 20px;
    }

    .carousel-caption h1 {
        font-size: 35px;
        font-weight: bold;
        color: var(--white);
        font-family: var(--barlow);
    }

    .carousel-caption p {
        font-size: 14px;
        font-weight: 500;
        opacity: 1;
        margin: 10px 0;
        color: var(--white);
    }

    .btn-8 span {
        position: relative;
        padding: 14px 25px;
        transition: .3s;
        background-color: transparent;
        border-radius: 5px;
        z-index: 100;
        vertical-align: middle;
    }

    .monial-team::before {
        content: '';
        background-color: #fff;
        width: 100%;
        max-width: 580px;
        height: 316px;
        position: absolute;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
        z-index: -100;
    }

    .monial-img {
        height: 80px;
        width: 80px;
        position: absolute;
        left: 50px;
        top: 10px;
        padding-top: 20px;
    }

    .monial-img img {
        border-radius: 50%;
        transition: 0.8s;
    }

    .monial-p {
        color: var(--dark);
        width: 425px;
        margin: 15px 40px;
        font-family: var(--mulish);
    }

    .reting {
        margin: 0 0 44px 40px;
    }

    .monial-det h5 {
        font-weight: 400;
        font-size: 16px;
        color: #000;
        margin: 70px 0 0 0;
    }

    .monial-det span {
        font-size: 15px;
        font-family: var(--barlow);
        color: var(--yellow);
        letter-spacing: 1px;
        font-weight: 600;
    }

    .monial-det::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        top: 53px;
        left: -35px;
        background-color: var(--yellow);
        margin-top: 80px;
    }

    .monial-det {
        font-family: var(--barlow);
        position: relative;
        display: flex;
        left: 75px;
        padding-top: 50px;
    }

    .monial-icon {
        width: 40px;
        height: 40px;
        background-color: var(--yellow);
        border-radius: 50%;
        font-size: 15px;
        position: absolute;
        right: -9px;
        top: 55px;
    }


    /* -------------- */

    .footer h3 {
        color: #fff;
        margin-top: 50px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 25px;
        font-family: var(--barlow);
    }

    .Subscribe-box {
        padding-top: 0px;
    }

    .newsletter-form {
        padding-left: 0px;
    }

    .newsletter-form .input_txt {
        padding: 10px 120px 10px 30px;
        border: 0;
        font-size: 18px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        outline: none;
    }

    .btn-theme i {
        padding: 16px 30px;
        color: #fff;
        border-radius: 3px;
    }

    .btn-theme {
        border: 0;
        border-radius: 3px;
        margin-left: 5px;
        background-color: var(--yellow);
    }

    .footer .social-media {
        float: inherit;
    }

    .sub-footer p {
        margin-bottom: 20px;
        text-align: center;
        line-height: normal;
    }

    .carousel button {
        width: 30px;
        height: 50px;
        background-color: var(--dark);
        top: 50%;
        margin: 0 10px;
    } 
}


@media screen and (min-width: 576px) {

    .col-sm-6 {
        padding-top: 30px;
    }
}



@media only screen and (max-width: 320px) {

    .heading_typ {
        font-size: 40px;
        letter-spacing: 1px;
    }

    .typ_car-1 {
        font-family: var(--barlow);
        font-weight: 600;
        font-size: 30px;
        position: absolute;
        top: 45%;
        letter-spacing: 1px;
        color: #fff;
    }
    
    .heading_typ-1 {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        color: #a1a1a1a6;
        font-family: var(--barlow);
        top: 20px;
    }

    .carousel-caption {
        top: 20%!important;
        left: 80px!important;
        font-family: var(--mulish)!important;
        line-height: 40px!important;
    }
    
    .carousel-caption h1 {
        font-size: 16px!important;
        font-weight: bold!important;
        color: var(--white)!important;
        font-family: var(--barlow)!important;
    }
    
    .carousel-caption p {
        font-size: 14px!important;
        font-weight: 500!important;
        opacity: 1!important;
        margin: 0px!important;
        line-height: 18px!important;
        color: var(--white)!important;
    }
    
    .btn-8 span {
        position: relative;
        padding: 14px 25px;
        transition: .3s;
        background-color: transparent;
        border-radius: 5px;
        z-index: 100;
        vertical-align: middle;
    }
    
    .btn-8::after {
        content: '';
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--yellow);
        position: absolute;
        left: 0;
        margin-top: 5px;
        transition: .5s;
    }

    .carousel button {
        width: 30px;
        height: 50px;
        background-color: var(--dark);
        top: 50%;
        margin: 0 10px;
    }
    
}

@media screen and (max-width: 1200px) {

    .carousel-caption {
        top: 40%;
        left: 55px;
        font-family: var(--mulish);
        line-height: 40px;
    }

    .carousel-caption h1 {
        font-size: 44px;
        font-weight: bold;
        color: var(--white);
        font-family: var(--barlow);
    }

    .carousel-caption p {
        font-size: 14px;
        font-weight: 500;
        opacity: 1;
        margin: 20px 0;
        color: var(--white);
    }


    .newsletter-form {
        padding-left: 7px;
    }

    .newsletter-form .input_txt {
        width: 58%;
        height: 50px;
        padding: 10px 30px;
        font-size: 17px;
        outline: 0;
        border-radius: 3px;
        border: transparent;
        margin-right: 2%;
    }
}